<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin อาสาสมัครสาธารณสุข หมู่ 8</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/CSS/admin/headAdmin.css">
    <link rel="stylesheet" href="/public/CSS/admin/homeAdmin.css">
</head>
<body>
    <%- include('navbar') %>

    <section class="home">
        <span class="overlay"></span>
        <!-- /* ========== box ========== */ -->
        <div class="message">
            <div class="texts">
                <div>
                    <span>ข่าวสาร</span>
                </div>
                <div class="seads">
                    <button class="show-modal ">
                        <i class="bi bi-plus"></i>
                    </button>
                    <div class="modals">
                        <div class="forms">
                            <div>
                                <h4>อัพเดตข่าวสาร</h4>
                                <form action="/addhome" method="post" enctype="multipart/form-data" class="form">
                                    
                                    <div class="form11">
                                        <label for="namehome">ชื่อเรื่อง</label>
                                        <input type="text" name="namehome" id="namehome" placeholder="ชื่อเรื่อง">
                                    </div>
                                    <div class="form31">
                                        <div>
                                            <input type="file" id="file-uploads" name="imagehome" />
                                            <label for="file-uploads" class="custom-file-upload">
                                                เลือกไฟล์รูป
                                            </label>
                                        </div>
                                        <div class="imgs">
                                            
                                            <img id="preview-images" src="" alt="ตัวอย่างรูปภาพ" >
                                        </div>
                                    </div>
                                    <div class="form21 esd">
                                        <label for="detailhome">รายละเอียด</label>
                                        <textarea name="detailhome" id="" cols="50" rows="3"></textarea>
                                    </div>
                                    <div class="subd">
                                        <button type="submit" class="submibd" >Submit</button>
                                        <!-- <button type="submit" class="submibd" ><a href="/homeAdmin">Submit</a></button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sss">
                <% Object.values(home).forEach(function(item) { %>
                    <div class="ss">
                        <span><%= item.namehome %></span>
                        <div>
                            <img src="/image/imageAdmin/homeimg/<%= item.imagehome %>" alt="">
                        </div>
                        <div class="details">
                            <div>
                                <span>รายละเอียด</span>
                            </div>
                        </div>    
                        <div class="asas">
                                <div>
                                    <p><%= item.detailhome %></p>
                                </div>
                        </div>
                        <div class="choice">
                            <div class="issue">
                                <form action="" method="post">
                                    <input type="hidden" name="editIDscript" value="">
                                    <button type="submit" class="submit-buttons">
                                        <i class="bi bi-pencil-square icons"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="issue">
                                <!-- <button  class="submit-buttons" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่')">
                                    <i class="bi bi-trash3 icons"></i>
                                </button> -->
                                <button  class="submit-buttons" >
                                    <a href="/deleteAddHomedata/<%= item.id %>" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่')" >
                                        <i class="bi bi-trash3-fill icons"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                <% })%>   
                
            </div>
        </div>
        
        <div class="box1-2">
            <div class="box2">
                <!-- /* ========== box2-1 ========== */ -->
                <div class="box2-1">
                    <div class="container">
                        <div class="nas">ยอดเเจ้งโดยรวมทั้งหมด</div>
                        <div class="num">3</div>
                        <div class="num1">รายการ</div>
                    </div>
                </div>
                <!-- /* ========== box2-2 ========== */ -->
                <div class="box2-1">
                    <div class="container">
                        <div class="nas">ยอดผู้เข้าใช้</div>
                        <div class="num">5</div>
                        <div class="num1">คน</div>
                    </div>
                </div>
            </div>
             <!-- /* ========== box3 ========== */ -->
            <div class="online">
                <div class="roof">
                    <div class="pole">
                        <table>
                            <thead>
                                <tr>
                                    <th>สถานะ</th>
                                    <th>ชื่อ-นามสกุล</th>
                                    <th>ตำเเหน่ง</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <th>
                                            <div id="status-message"></div>
                                        </th>
                                        <th>pattarapong wanthongsuk</th>
                                        <th>ผู้ช่วยผู้ใหญ่บ้าน</th>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <script src="/public/js/adminJs/main.js"></script>
    <script src="/public/js/adminJs/navbar.js"></script>
    <script src="/public/js/adminJs/addnew.js"></script>
    <script src="/public/js/adminJs/popup.js"></script>
</body>
</html>