<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin อาสาสมัครสาธารณสุข หมู่ 8</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/CSS/admin/headAdmin.css">
    <link rel="stylesheet" href="/public/CSS/admin/memberAdmin.css">
</head>
<body>
    <%- include('navbar') %>

    <section class="home">
        <div class="role">
            <div class="roles">
                บทบาท
            </div>
            <div class="sub">
                <!-- ตรวจสอบค่า showAddMemberButton และควบคุมการแสดง/ซ่อนปุ่ม -->
                <% if (showAddMemberButton === true) { %>
                    <button type="button" class="submit-button" id="addMemberButton"><a href="/addmemberAdmin">เพิ่มสมาชิก</a></button>
                <% } %>
                
            </div>
        </div>
        <div class="content">
            <div class="tops">
                <div class="quantity">
                    <a>จำนวน</a>
                    <input type="text">
                    <a>คน</a>
                </div>
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search...">
                </div>
            </div>

            <div class="square">
                <table>
                    <thead>
                        <tr>
                            <th>ชื่อ-นามสกุล</th>
                            <th>ตำเเหน่ง</th>
                            <th>Email</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th>ID line</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Object.values(member).forEach(function(itemmember) { %>
                        <tr>
                            <th><%= itemmember.nameAdmin %></th>
                            <th><%= itemmember.rankAdmin %></th>
                            <th><%= itemmember.emailAdmin %></th>
                            <th><%= itemmember.telAdmin %></th>
                            <th><%= itemmember.lineAdmin %></th>
                            <th>
                                <% if (showAddMemberButton === true) { %>
                                <a href="#" onclick="openPopup()"><i class="bi bi-trash3"></i></a>
                                <% } %>
                                <!-- <a href="/<%= itemmember._id %>" onclick="openPopup()"><i class="bi bi-trash3"></i></a> -->
                                <!-- <a href="javascript:void(0);" onclick="openPopup('<%= itemmember.nameAdmin %>', '/deletemember/<%= member.id %>')"><i class="bi bi-trash3"></i></a> -->
                            </th>
                        </tr>
                                <!-- ส่วนของ popup -->
                            <div class="popup"  id="myPopup">
                                <div class="popup-content">
                                    <div class="popup-icon">
                                        <i class="bi bi-person-dash"></i>
                                    </div>
                                    <div class="popupmediate-icon">
                                        <div>
                                            <p>คุณต้องการลบบัญชี <%= itemmember.nameAdmin %> หรือไม่</p>
                                            <!-- ที่นี่เราจะแสดงชื่อและ ID ของสมาชิก -->
                                            <!-- <p>Name: <span id="name"></span></p> -->
                                            <!-- <p>ID: <span id="id"></span></p> -->
                                        </div>
                                    </div>
                                    <div class="popup-sub">
                                        <button class="submitclose-button" onclick="closePopup()">Close</button>
                                        <a href="/deletemember/<%= itemmember.id %>" class="submit-button delete-button" id="delete-button">Delete</a>     
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </tbody>
                </table>
                
            </div>
        </div>

    </section>

    
    <script src="/public/js/adminJs/navbar.js"></script>
    <script src="/public/js/adminJs/memberpopup.js"></script>
    <!-- <script src="/public/js/adminJs/userlogin.js"></script> -->
</body>
</html>