<!-- /* ==================== มกราคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>มกราคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% januaryData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(january => { %>
                <li>
                    <div class="adds"><%= january.day %></div>
                    <div class="add"><%= january.eventname %></div>
                    <div class="add"><%= january.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== กุมภาพันธ์ 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>กุมภาพันธ์</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% februaryData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(february => { %>
                <li>
                    <div class="add"><%= february.day %></div>
                    <div class="add"><%= february.eventname %></div>
                    <div class="add"><%= february.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== มีนาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>มีนาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% marchData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(march => { %>
                <li>
                    <div class="add"><%= march.day %></div>
                    <div class="add"><%= march.eventname %></div>
                    <div class="add"><%= march.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== เมษายน 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>เมษายน</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% aprilData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(april => { %>
                <li>
                    <div class="add"><%= april.day %></div>
                    <div class="add"><%= april.eventname %></div>
                    <div class="add"><%= april.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== พฤษภาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>พฤษภาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% mayData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(may => { %>
                <li>
                    <div class="add"><%= may.day %></div>
                    <div class="add"><%= may.eventname %></div>
                    <div class="add"><%= may.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== มิถุนายน 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>มิถุนายน</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% juneData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(june => { %>
                <li>
                    <div class="add"><%= june.day %></div>
                    <div class="add"><%= june.eventname %></div>
                    <div class="add"><%= june.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== กรกฎาาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>กรกฎาาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% julyData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(july => { %>
                <li>
                    <div class="add"><%= july.day %></div>
                    <div class="add"><%= july.eventname %></div>
                    <div class="add"><%= july.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== สิงหาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>สิงหาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% augustData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(august => { %>
                <li>
                    <div class="add"><%= august.day %></div>
                    <div class="add"><%= august.eventname %></div>
                    <div class="add"><%= august.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== กันยายน 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>กันยายน</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% septemberData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(september => { %>
                <li>
                    <div class="add"><%= september.day %></div>
                    <div class="add"><%= september.eventname %></div>
                    <div class="add"><%= september.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== ตุลาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>ตุลาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% octoberData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(october => { %>
                <li>
                    <div class="add"><%= october.day %></div>
                    <div class="add"><%= october.eventname %></div>
                    <div class="add"><%= october.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== พฤศจิกายน 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>พฤศจิกายน</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% novemberData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(november => { %>
                <li>
                    <div class="add"><%= november.day %></div>
                    <div class="add"><%= november.eventname %></div>
                    <div class="add"><%= november.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<!-- /* ==================== ธันวาคม 2566 ==================== */ -->
<div class="wrappers">
    <div class="select-bth">
        <div>
            <span>ธันวาคม</span>
            <span>2566</span>
        </div>
        <i class="ui uil-angle-down icons"></i>
    </div>
    <div class="contents">
        <ul class="options">
            <% decemberData.sort((a, b) => new Date(a.day) - new Date(b.day)).forEach(december => { %>
                <li>
                    <div class="add"><%= december.day %></div>
                    <div class="add"><%= december.eventname %></div>
                    <div class="add"><%= december.eventdiscription %></div>
                </li>
            <% }); %>
        </ul>
    </div>
</div>




